<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cardapio</title>
</head>
<body>
  <h1>Lista de pratos</h1>
  <table>
    <tbody>
      <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Descrição</td>
        <td>Categoria</td>
        <td>Preço</td>
      </tr>

      <% for(var i = 0; i < cardapio.length; i++) { %>
        <tr>
          <td><%= cardapio[i].id %></td>
          <td><%= cardapio[i].nm_prato %></td>
          <td><%= cardapio[i].descricao %></td>
          <td><%= cardapio[i].nm_categoria %></td>
          <td><%= cardapio[i].preco %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

    <div class="col-md-6"><a href="/cadastrar">Cadastrar pratos</a></div>

  <script>
  </script>
</body>
</html>