<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Carro</title>
</head>

<body>
    <h1>Lista de carros</h1>
    <table>
     <tbody>
      <tr>
        <td>ID</td>
        <td>Marca</td>
        <td>Modelo</td>
        <td>Cor</td>
        <td>Placa</td>
      </tr>

      <% for(var i = 0; i < carro.length; i++) { %>
        <tr>
          <td><%= carro[i].id_carro %></td>
          <td><%= carro[i].marca %></td>
          <td><%= carro[i].modelo %></td>
          <td><%= carro[i].cor %></td>
          <td><%= carro[i].placa %></td>
        </tr>
      <% } %>

    </tbody>
  </table>

  <script>
      </script>

</body>

</html>